# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

In [2]:
df.shape

(10910, 26)

In [3]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [4]:
df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [5]:
df = df.drop(columns=["Unnamed: 0"])

In [6]:
df.columns = (df.columns.str.lower().str.replace(" ", "_"))

In [7]:
df["response"].value_counts()

response
No     8813
Yes    1466
Name: count, dtype: int64

In [8]:
df["gender"].value_counts()

gender
F    5573
M    5337
Name: count, dtype: int64

In [9]:
df["policy_type"].value_counts()

policy_type
Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: count, dtype: int64

In [10]:
df["state"].value_counts()

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [11]:
df_low_claim_yes = df[(df['total_claim_amount'] < 1000) &(df["response"] == "Yes")]

df_low_claim_yes.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,79487,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,41479,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,63774,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN

The filtered dataset includes customers with total claim amounts below 1,000 who responded positively to the marketing campaign. These customers typically show moderate to high customer lifetime values while maintaining low claim costs, suggesting they may represent lower-risk and more profitable profiles for the company.

In [12]:
df_yes = df[df["response"] == "Yes"]

In [13]:
avg_premium = (df_yes.groupby(["policy_type", "gender"])["monthly_premium_auto"].mean().round(2).reset_index())

avg_premium

      policy_type gender  monthly_premium_auto
0  Corporate Auto      F                 94.30
1  Corporate Auto      M                 92.19
2   Personal Auto      F                 99.00
3   Personal Auto      M                 91.09
4    Special Auto      F                 92.31
5    Special Auto      M                 86.34

Among customers who responded “Yes”, average monthly premiums vary by policy type. Personal Auto policies show the highest average premiums, followed by Corporate Auto and Special Auto. Differences between genders within each policy type are relatively small, indicating that policy type has a stronger influence on premium levels than gender.

In [14]:
avg_clv = (df_yes.groupby(["policy_type", "gender"])["customer_lifetime_value"].mean().round(2).reset_index())

avg_clv

      policy_type gender  customer_lifetime_value
0  Corporate Auto      F                  7712.63
1  Corporate Auto      M                  7944.47
2   Personal Auto      F                  8339.79
3   Personal Auto      M                  7448.38
4    Special Auto      F                  7691.58
5    Special Auto      M                  8247.09

Customer lifetime value also varies more significantly by policy type than by gender. Personal Auto policies tend to show higher average CLV, particularly among female customers, while Corporate Auto and Special Auto display more moderate values. Gender differences exist but are not consistent across policy types.

In [15]:
avg_claims = (df_yes.groupby(["policy_type", "gender"])["total_claim_amount"].mean().round(2).reset_index())

avg_claims

      policy_type gender  total_claim_amount
0  Corporate Auto      F              433.74
1  Corporate Auto      M              408.58
2   Personal Auto      F              452.97
3   Personal Auto      M              457.01
4    Special Auto      F              453.28
5    Special Auto      M              429.53

When comparing average customer lifetime value with average total claim amounts, no segment shows exceptionally high claim costs. Segments combining relatively higher CLV with similar or lower claim amounts may be considered more profitable or lower-risk for the company.

In [16]:
customers_by_state = (df.groupby("state")["customer"].count().reset_index(name="num_customers"))

states_over_500 = customers_by_state[customers_by_state["num_customers"] > 500]

states_over_500

        state  num_customers
0     Arizona           1937
1  California           3552
2      Nevada            993
3      Oregon           2909
4  Washington            888

Customer counts are concentrated in a small number of states. California has the largest customer base, followed by Oregon and Arizona. This indicates a clear geographic clustering of customers, which may be relevant for targeted marketing or regional resource allocation.

In [17]:
clv_stats = (df.groupby(["education", "gender"])["customer_lifetime_value"].agg(["min", "median", "max"]).round(2).reset_index())

clv_stats

              education gender      min   median       max
0              Bachelor      F  1904.00  5640.51  73225.96
1              Bachelor      M  1898.01  5548.03  67907.27
2               College      F  1898.68  5623.61  61850.19
3               College      M  1918.12  6005.85  61134.68
4                Doctor      F  2395.57  5332.46  44856.11
5                Doctor      M  2267.60  5577.67  32677.34
6  High School or Below      F  2144.92  6039.55  55277.45
7  High School or Below      M  1940.98  6286.73  83325.38
8                Master      F  2417.78  5729.86  51016.07
9                Master      M  2272.31  5579.10  50568.26

Customer lifetime value varies more strongly by education level than by gender. Customers with “High School or Below” education show the highest median CLV values across both genders, while customers with doctoral education present the lowest median CLV. Gender differences within each education level are relatively small compared to the variation observed across education levels.

The median CLV provides a robust measure of central tendency, reducing the influence of extreme values observed in the maximum CLV across several education groups.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [18]:
#5.
df["effective_to_date"]

0        2/18/11
1        1/18/11
2        2/10/11
3        1/11/11
4        1/17/11
          ...
10905    1/19/11
10906     1/6/11
10907     2/6/11
10908    2/13/11
10909     1/8/11
Name: effective_to_date, Length: 10910, dtype: object

In [20]:
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"],format="%m/%d/%y")

In [21]:
df["month"] = df["effective_to_date"].dt.month

In [22]:
policies_state_month = (df.groupby(["state", "month"])["policy"].count().reset_index().pivot(index="state", columns="month", values="policy").astype(int))

policies_state_month

month          1     2
state
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

In [23]:
#6.
top_states = (df.groupby("state")["policy"].count().sort_values(ascending=False).head(3).index)

top_states

Index(['California', 'Oregon', 'Arizona'], dtype='object', name='state')

In [24]:
top_states_monthly = (
    df[df["state"].isin(top_states)]
    .groupby(["state", "month"])["policy"]
    .count()
    .reset_index()
    .pivot(index="state", columns="month", values="policy")
    .fillna(0)
    .astype(int))

top_states_monthly

month          1     2
state
Arizona     1008   929
California  1918  1634
Oregon      1565  1344

In [25]:
#7.
df["response_binary"] = df["response"].apply(lambda x: 1 if x == "Yes" else 0)

In [26]:
melted = df.melt(
    id_vars=["sales_channel"],
    value_vars=["response_binary"],
    var_name="metric",
    value_name="value")

In [27]:
response_rate = (melted
    .groupby("sales_channel")["value"]
    .mean()
    .round(3)
    .reset_index(name="response_rate"))

response_rate

  sales_channel  response_rate
0         Agent          0.180
1        Branch          0.108
2   Call Center          0.103
3           Web          0.109

The bonus analysis highlights clear geographic and channel-based patterns in policy sales and customer engagement. California, Oregon, and Arizona emerge as the top states in terms of total policies sold, accounting for a substantial share of overall sales. Across these states, policy sales remain relatively consistent between months, indicating stable demand during the observed period.

From a marketing perspective, the Agent channel demonstrates the highest customer response rate, outperforming Branch, Call Center, and Web channels. This suggests that more personalized, agent-driven interactions may be more effective in driving customer engagement.

Overall, these findings suggest that focusing marketing efforts on high-performing states and prioritizing agent-based channels could improve both policy sales and campaign effectiveness.